ion-toolbar {
  --background: #545ee8;
  color: white;
}

.container {
  margin-top: 10px;
  // height: 400px;
  // box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #f4f5f8;
}

.title {
  padding-top: 30px;
}

.title h1 {
  font-size: 30px;
}

ion-avatar {
  width: 130px !important;
  height: 140px !important;
  margin: 0 auto;
  padding-top: 10px;
}

.date {
  padding-top: 120px;
}

.campo {
  font-size: 12px;
}

.sub-title {
  padding-left: 30px;
}

.sub-title ion-label {
  padding-left: 10px;
}

.sub-title h4 {
  color: #545ee8;
}

.personal-info {
  margin-top: 20px;
}

.personal-info ion-col {
  height: 60px;
}

.medical-info ion-col {
  height: 60px;
}

.academic-info ion-col {
  height: 60px;
}

.family-info ion-col {
  height: 60px;
}

ion-card {
  padding: 5px;
}

.btn-actions ion-button {
  font-size: 12px !important;
  // --background: #ffb700;
  --border-radius: 15px !important;
}
