<ion-header>
  <ion-toolbar>
    <ion-title>Student Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-row>
    <ion-col size="12" sizeMd="8" offsetMd="2">
      <div class="container">
        <!-- <ion-row>
          <ion-col size="12" sizeMd="4">
            <img src="https://i.pinimg.com/736x/16/5c/90/165c9078c5099ba03ec3bec0e4518a14.jpg" />
          </ion-col>
          <ion-col size="12" sizeMd="4">
            <div class="title ion-text-center">
              <h1>U Board</h1>
              <h2>Admission Request</h2>
            </div>
          </ion-col>
          <ion-col size="12" sizeMd="4">
            <div class="date ion-text-end ion-padding">
              <h3>20/20/2020</h3>
            </div>
          </ion-col>
        </ion-row> -->
            <div class="personal-info ion-padding">
              <div class="sub-title">
                <h3>Informacion Personal</h3>
              </div>
              <ion-row class="ion-text-center">
                <ion-col size="12" sizeMd="4">
                  <ion-label>Junior Jerameel</ion-label>
                  <div class="campo">
                    <b>Nombres</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>Polanco Silvestre</ion-label>
                  <div class="campo">
                    <b>Apellidos</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>Indefinido</ion-label>
                  <div class="campo">
                    <b>Sexo</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>222-33443223-9</ion-label>
                  <div class="campo">
                    <b>Cedula</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>JuniorJerameel@gmail.com</ion-label>
                  <div class="campo">
                    <b>Correo</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>809 222-6666</ion-label>
                  <div class="campo">
                    <b>Telefono</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>15-10-1998</ion-label>
                  <div class="campo">
                    <b>Fecha de Nacimiento</b>
                  </div>
                </ion-col>
              </ion-row>
            </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
