<ion-header>
  <ion-toolbar>
    <ion-title>Student Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" sizeMd="8" offsetMd="2">
      <div class="container">
        <ion-row>
          <ion-col size="12" sizeMd="4">
            <!-- AQUI VA LA FOTO 2X2 QUE SUBAN EN LOS DOCUMENTOS -->
            <ion-avatar>
              <img src={{theMainRecord?.documents?.FOTOS2X2.url}}>
            </ion-avatar>
          </ion-col>
          <ion-col size="12" sizeMd="8">
            <div class="title ion-text-center">
              <h1>U Board</h1>
              <h2>Admission Request</h2>
            </div>
          </ion-col>
        </ion-row>
            <div class="personal-info ion-padding">
              <div class="sub-title">
                <h3>Información Personal</h3>
              </div>
              <ion-row class="ion-text-center">
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.names}}</ion-label>
                  <div class="campo">
                    <b>Nombres</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.lastnames}}</ion-label>
                  <div class="campo">
                    <b>Apellidos</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.gender}}</ion-label>
                  <div class="campo">
                    <b>Sexo</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.cedula}}</ion-label>
                  <div class="campo">
                    <b>Cédula</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.email}}</ion-label>
                  <div class="campo">
                    <b>Correo</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.cellphone}}</ion-label>
                  <div class="campo">
                    <b>Celular</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.telephone}}</ion-label>
                  <div class="campo">
                    <b>Teléfono</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{bDate}}</ion-label>
                  <div class="campo">
                    <b>Fecha de Nacimiento</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.address?.streetName}}</ion-label>
                  <div class="campo">
                    <b>Dirección</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.address?.streetNumber}}</ion-label>
                  <div class="campo">
                    <b>Número de Casa</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.address?.neighborhood}}</ion-label>
                  <div class="campo">
                    <b>Sector</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.address?.municipality}}</ion-label>
                  <div class="campo">
                    <b>Municipio</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.address?.province}}</ion-label>
                  <div class="campo">
                    <b>Provincia</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.nationality}}</ion-label>
                  <div class="campo">
                    <b>Nacionalidad</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.religion}}</ion-label>
                  <div class="campo">
                    <b>Religión</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.civil_status}}</ion-label>
                  <div class="campo">
                    <b>Estado Civil</b>
                  </div>
                </ion-col>
              </ion-row>
            </div>

            <div class="academic-info ion-padding">
              <div class="sub-title">
                <h3>Información Académica</h3>
              </div>
              <ion-row class="ion-text-center">
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.academic?.study_type}}</ion-label>
                  <div class="campo">
                    <b>Estudios a Realizar</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.academic?.career}}</ion-label>
                  <div class="campo">
                    <b>Carrera</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.academic?.highSchool_name}}</ion-label>
                  <div class="campo">
                    <b>Bachiller</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.academic?.grade_career}}</ion-label>
                  <div class="campo">
                    <b>Carrera Finalizada</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.academic?.previousUniversity_name}}</ion-label>
                  <div class="campo">
                    <b>Universidad Previa</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.academic?.previousUniversity_career}}</ion-label>
                  <div class="campo">
                    <b>Carrera Previa</b>
                  </div>
                </ion-col>
              </ion-row>
            </div>

            <div class="medical-info ion-padding">
              <div class="sub-title">
                <h3>Información Médica</h3>
              </div>
              <ion-row class="ion-text-center">
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.medical?.blood_type}}</ion-label>
                  <div class="campo">
                    <b>Tipo de Sangre</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.medical?.isAlergic}}</ion-label>
                  <div class="campo">
                    <b>Alérgico a</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.medical?.disease}}</ion-label>
                  <div class="campo">
                    <b>Enfermedad</b>
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="4">
                  <ion-label>{{theMainRecord?.medical?.treatment}}</ion-label>
                  <div class="campo">
                    <b>Tratamiento o Medicamento</b>
                  </div>
                </ion-col>
              </ion-row>
            </div>

            <div class="family-info ion-padding">

              <div class="sub-title">
                <h3>Información Familiar</h3>
    
                <div class="u-border">
                  <ion-label class="familiarText">Padre</ion-label>
                  <ion-row class="ion-text-center">
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.father_names}}</ion-label>
                      <div class="campo">
                        <b>Nombre</b>
                      </div>
                    </ion-col>
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.father_lastnames}}</ion-label>
                      <div class="campo">
                        <b>Apellidos</b>
                      </div>
                    </ion-col>
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.father_telephone}}</ion-label>
                      <div class="campo">
                        <b>Teléfono/Celular</b>
                      </div>
                    </ion-col>
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.father_occupation}}</ion-label>
                      <div class="campo">
                        <b>Ocupacion</b>
                      </div>
                    </ion-col>
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.father_civil_status}}</ion-label>
                      <div class="campo">
                        <b>Estado Civil</b>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
    
                <div class="u-border">
                  <ion-label class="familiarText">Madre</ion-label>
                  <ion-row class="ion-text-center">
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.mother_names}}</ion-label>
                      <div class="campo">
                        <b>Nombre</b>
                      </div>
                    </ion-col>
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.mother_lastnames}}</ion-label>
                      <div class="campo">
                        <b>Apellidos</b>
                      </div>
                    </ion-col>
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.mother_telephone}}</ion-label>
                      <div class="campo">
                        <b>Teléfono/Celular</b>
                      </div>
                    </ion-col>
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.mother_occupation}}</ion-label>
                      <div class="campo">
                        <b>Ocupacion</b>
                      </div>
                    </ion-col>
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.mother_civil_status}}</ion-label>
                      <div class="campo">
                        <b>Estado Civil</b>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
      
                <div class="u-border">
                  <ion-label class="familiarText">Esposo / Esposa</ion-label>
                  <ion-row class="ion-text-center">
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.wife_or_husband_names}}</ion-label>
                      <div class="campo">
                        <b>Nombre</b>
                      </div>
                    </ion-col>
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.wife_or_husband_lastnames}}</ion-label>
                      <div class="campo">
                        <b>Apellidos</b>
                      </div>
                    </ion-col>
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.wife_or_husband_telephone}}</ion-label>
                      <div class="campo">
                        <b>Teléfono/Celular</b>
                      </div>
                    </ion-col>
                    <ion-col size="12" sizeMd="4">
                      <ion-label>{{theMainRecord?.family?.wife_or_husband_occupation}}</ion-label>
                      <div class="campo">
                        <b>Ocupación</b>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
                
              </div>
    
            </div>

              <div class="docs ion-padding">
                <div class="sub-title">
                  <h3>Documentos</h3>
                </div>
                <ion-row>
                  <ion-col size="12" sizeMd="4">
                    <ion-card color="light">
                      <ion-item button lines="none">
                        <ion-label class="ion-text-wrap">
                          <a href={{theMainRecord?.documents?.ACTA_NACIMIENTO.url}} target="_blank">
                            Acta de Nacimiento
                            <p>Message in case...</p>
                          </a>
                          
                        </ion-label>
                        <ion-buttons slot="end">
                          <ion-button (click)="ReturnDocument()">
                            <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
                          </ion-button>
                          <ion-button>
                            <ion-icon color="success" slot="icon-only" name="checkmark-done"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" sizeMd="4">
                    <ion-card color="light">
                      <ion-item button lines="none">
                        <ion-label class="ion-text-wrap">
                          <a href={{theMainRecord?.documents?.RECORD_BACHILLERATO.url}} target="_blank">
                            Record Bachillerato
                            <p>Message in case...</p>
                          </a>
                          
                        </ion-label>
                        <ion-buttons slot="end">
                          <ion-button (click)="ReturnDocument()">
                            <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
                          </ion-button>
                          <ion-button>
                            <ion-icon color="success" slot="icon-only" name="checkmark-done"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" sizeMd="4">
                    <ion-card color="light">
                      <ion-item button lines="none">
                        <ion-label class="ion-text-wrap">
                          <a href={{theMainRecord?.documents?.CERTIFICACION_BACHILLERATO.url}} target="_blank">
                            Cert. Bachillerato
                            <p>Message in case...</p>
                          </a>
                        </ion-label>
                        <ion-buttons slot="end">
                          <ion-button (click)="ReturnDocument()">
                            <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
                          </ion-button>
                          <ion-button>
                            <ion-icon color="success" slot="icon-only" name="checkmark-done"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" sizeMd="4">
                    <ion-card color="light">
                      <ion-item button lines="none">
                        <ion-label class="ion-text-wrap">
                          <a href={{theMainRecord?.documents?.CEDULA.url}} target="_blank">
                            Cédula
                            <p>Message in case...</p>
                          </a>
                        </ion-label>
                        <ion-buttons slot="end">
                          <ion-button (click)="ReturnDocument()">
                            <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
                          </ion-button>
                          <ion-button>
                            <ion-icon color="success" slot="icon-only" name="checkmark-done"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" sizeMd="4">
                    <ion-card color="light">
                      <ion-item button lines="none">
                        <ion-label class="ion-text-wrap">
                          <a href={{theMainRecord?.documents?.FOTOS2X2.url}} target="_blank">
                            Foto 2x2
                            <p>Message in case...</p>
                          </a>
                        </ion-label>
                        <ion-buttons slot="end">
                          <ion-button (click)="ReturnDocument()">
                            <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
                          </ion-button>
                          <ion-button>
                            <ion-icon color="success" slot="icon-only" name="checkmark-done"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" sizeMd="4">
                    <ion-card color="light">
                      <ion-item button lines="none">
                        <ion-label class="ion-text-wrap">
                          <a href={{theMainRecord?.documents?.PASAPORTE.url}} target="_blank">
                            Copia Pasaporte
                            <p>Message in case...</p>
                          </a>
                        </ion-label>
                        <ion-buttons slot="end">
                          <ion-button (click)="ReturnDocument()">
                            <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
                          </ion-button>
                          <ion-button>
                            <ion-icon color="success" slot="icon-only" name="checkmark-done"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" sizeMd="4">
                    <ion-card color="light">
                      <ion-item button lines="none">
                        <ion-label class="ion-text-wrap">
                          <a href={{theMainRecord?.documents?.VISA.url}} target="_blank">
                            Visa de Estudiante
                            <p>Message in case...</p>
                          </a>
                        </ion-label>
                        <ion-buttons slot="end">
                          <ion-button (click)="ReturnDocument()">
                            <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
                          </ion-button>
                          <ion-button>
                            <ion-icon color="success" slot="icon-only" name="checkmark-done"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" sizeMd="4">
                    <ion-card color="light">
                      <ion-item button lines="none">
                        <ion-label class="ion-text-wrap">
                          <a href={{theMainRecord?.documents?.EXAMEN_ESPANOL.url}} target="_blank">
                            Ex. de Español
                            <p>Message in case...</p>
                          </a>
                        </ion-label>
                        <ion-buttons slot="end">
                          <ion-button (click)="ReturnDocument()">
                            <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
                          </ion-button>
                          <ion-button>
                            <ion-icon color="success" slot="icon-only" name="checkmark-done"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </div>

             <ion-row class="">
               <ion-col class="ion-text-end" size="12" sizeMd="12">
                 <div class="btn-actions ion-padding">
                     <ion-button color="success">
                       Guardar Expediente
                     </ion-button>
                   </div>
               </ion-col>
              </ion-row>
      </div>
    </ion-col>
  </ion-row>
  <br>
</ion-content>
