<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Documents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title">
    <h2>Upload Obligatory Documents</h2>
  </div>

  <ion-row>
    <ion-col size="12" sizeMd="10" offsetMd="1">
      <ion-row>
        <ion-col size="12" sizeMd="3">
          <ion-card color="light">
            <div class="image">
              <img src="../../../assets/ilustrations/waiting.svg" alt="">
            </div>
            <ion-card-content class="ion-text-center">

              <ion-label>
                Acta de nacimiento legalizada
              </ion-label>

              <!-- if image  -->
              <!-- <ion-label>
                Acta subida
              </ion-label> -->

              <div class="btn">
                <ion-button>
                  Upload
                </ion-button>
              </div>
            </ion-card-content>

            <!-- if image  -->

            <!-- <div class="btn-actions">
              <ion-row>
                <ion-col class="ion-text-center" size="6">
                  <ion-button  color="danger" >
                    Cancel
                  </ion-button>
                </ion-col >
                <ion-col class="ion-text-center" size="6">
                  <ion-button>
                    Update
                  </ion-button>
                </ion-col>
              </ion-row>
            </div> -->
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="3">
          <ion-card color="light">
            <div class="image">
              <img src="../../../assets/ilustrations/waiting.svg" alt="">
            </div>
            <ion-card-content class="ion-text-center">
              <ion-label>
               Certificacion oficial de bachillerato
              </ion-label>

                <!-- if image  -->
              <!-- <ion-label>
                Certificacion subida
              </ion-label> -->
              <div class="btn">
                <ion-button>
                  Upload
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="3">
          <ion-card color="light">
            <div class="image">
              <img src="../../../assets/ilustrations/waiting.svg" alt="">
            </div>
            <ion-card-content class="ion-text-center">
              <ion-label>
               Records de notas de bachillerato
              </ion-label>

                <!-- if image  -->
              <!-- <ion-label>
                Records subidos
              </ion-label> -->
              <div class="btn">
                <ion-button>
                  Upload
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="3">
          <ion-card color="light">
            <div class="image">
              <img src="../../../assets/ilustrations/waiting.svg" alt="">
            </div>
            <ion-card-content class="ion-text-center">
              <ion-label>
               Cedula de identidad y electoral
              </ion-label>

            <!-- if image  -->
              <!-- <ion-label>
                Cedula subida
              </ion-label> -->
              <div class="btn">
                <ion-button>
                  Upload
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="3">
          <ion-card color="light">
            <div class="image">
              <img src="../../../assets/ilustrations/waiting.svg" alt="">
            </div>
            <ion-card-content class="ion-text-center">
              <ion-label>
               Copia de pasaporte
              </ion-label>

               <!-- if image  -->
              <!-- <ion-label>
                Copia subida
              </ion-label> -->
              <div class="btn">
                <ion-button>
                  Upload
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="3">
          <ion-card color="light">
            <div class="image">
              <img src="../../../assets/ilustrations/waiting.svg" alt="">
            </div>
            <ion-card-content class="ion-text-center">
              <ion-label>
               Foto 2x2 Reciente
              </ion-label>

                <!-- if image  -->
              <!-- <ion-label>
                Foto subida
              </ion-label> -->
              <div class="btn">
                <ion-button>
                  Upload
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="3">
          <ion-card color="light">
            <div class="image">
              <img src="../../../assets/ilustrations/waiting.svg" alt="">
            </div>
            <ion-card-content class="ion-text-center">
              <ion-label>
               Visa de estudiante
              </ion-label>

                <!-- if image  -->
              <!-- <ion-label>
                Visa subida
              </ion-label> -->
              <div class="btn">
                <ion-button>
                  Upload
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="3">
          <ion-card color="light">
            <div class="image">
              <img src="../../../assets/ilustrations/waiting.svg" alt="">
            </div>
            <ion-card-content class="ion-text-center">
              <ion-label>
               Examen de español
              </ion-label>

                <!-- if image  -->
              <!-- <ion-label>
                Pruba examen subida
              </ion-label> -->
              <div class="btn">
                <ion-button>
                  Upload
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>
