ion-toolbar {
  --background: #545ee8;
  color: white;
}

.title {
  padding-top: 15px;
  color: #ffb700;
  font-family: "Open Sans", sans-serif;
}

ion-card {
  min-height: 300px;
}

ion-button {
  font-size: 12px !important;
  --background: #ffb700;
  --border-radius: 15px !important;
  width: 100px;
}

ion-card img {
    width: 100%;
    height: auto;
}

.btn {
    padding-top: 10px;
}

.pdf {
  cursor: pointer;
}

.btn-submit ion-button {
  font-size: 12px !important;
  --border-radius: 15px !important;
  width: 300px;
}

.btn-submit {
  margin-top: 20px;
}